body{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

.custom-center {    
    display: flex;
    text-align: center;
    flex-direction: column;
}

.custom-font-size { 
    font-size: 1.5rem;
}

#btn-toggle{
    max-width: 100px;
    align-self: end;
    margin-top: 50px;
    margin-right: 60px;
}

#btn-next{
    margin-top: 500px;
    margin-right: 60px;
    max-width: fit-content;
    align-self: end;
}
#btn-ant{
    margin-top: 500px;
    margin-right: 60px;
    max-width: fit-content;
    align-self: end;
}
@media (max-width: 768px) {
    #btn-toggle{
        max-width: 100px;
        align-self: end;
        margin-top: 50px;
        margin-right: 20px;
    }
    
    #btn-next{
        margin-right: 20px;
        max-width: fit-content;
        align-self: end;
        margin-top: 100px;
    }
    #btn-ant{
        margin-top: 500px;
        margin-right: 20px;
        max-width: fit-content;
        align-self: end;
        background-color: brown;
        border: none;
    }
}
